{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module"
	},
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommended"
	],
	"plugins": ["@typescript-eslint"],
	"env": {
		"browser": true,
		"jest": true
	},
	"rules": { "no-any": [true, { "ignore-rest-args": true }] }
}
